# Critical required variables

## Bot login token
BOT_TOKEN=

## Show only our logs, serenity is noisy
RUST_LOG=discord_compiler_bot

## Bot Prefix
BOT_PREFIX=;

## Bot info links
INVITE_LINK=https://discordapp.com/oauth2/authorize?client_id=504095380166803466&scope=bot&permissions=388160
DISCORDBOTS_LINK=https://discordbots.org/bot/504095380166803466
GITHUB_LINK=https://github.com/Headline/discord-compiler
STATS_LINK=http://headlinedev.xyz/discord-compiler

# Optional variables
## Emojis
SUCCESS_EMOJI_NAME=
SUCCESS_EMOJI_ID=
LOADING_EMOJI_NAME=
LOADING_EMOJI_ID=

BOT_ID=
COMPILE_LOG=
JOIN_LOG=
VOTE_CHANNEL=
DBL_TOKEN=
DBL_WEBHOOK_PORT=
DBL_WEBHOOK_PASSWORD=
STATS_API_LINK=
STATS_API_KEY=